body, #header, #navigation, #tabHeaderCont, .packs-container, .msglist-header {background-color: #fff;}

.mails-container {
  background-color: #F7F7F7;
}

.mTable tr:hover, #attgal-main>ul>li:hover, .attachments-images-list li:hover {
  background-color: #EBEBEB!important;
}

#sidebar {
  background-color: #3d3f41!important;
}

#side-folders li a {color: #8C8C8C;}

#side-contacts a {
    color: #fff!important;
}

.msglist-flag span, .thread-subitem, .thread-switch {
    background-image: url(../assets/common.12.png);
}

.msg-status-re {
    background: url(../assets/common.12.png) -34px -28px no-repeat;
    height: 8px!important;
    margin-top: 10px;
}

#tabBodyCont .emHead {
    background: #f5f5f5;
}

.bottomIcons {
    background: #f5f5f5;
    border: 1px solid #abd0ec;
    border-top: 0;
}

#mainContent, #rightContent {
    background: #f5f5f5;
}

#bottomRight {
    background: #f5f5f5;
}

#content {
    background: #f5f5f5
}

.toolbar button {
    background-color: transparent;
    background-repeat: no-repeat;
    color: #8C8C8C;
}

.toolbar button:hover {
    color: #059;
    cursor: pointer;
}

.toolbar span.separator, .mSeparator {
    background: #8C8C8C;
}

#additionalNavLink {
  border-color: #8C8C8C;
}

.bottomIcons {
    border: 1px solid #8C8C8C;
}
