body, #header, #navigation, #tabHeaderCont, .packs-container, .msglist-header {background-color: #fff;}

.mails-container {
  background-color: #F7F7F7;
}

.hektor-container--close  {

}

.mTable tr:hover, #attgal-main>ul>li:hover, .attachments-images-list li:hover {
  background-color: #EBEBEB!important;
}

.active-tr {
  background-color: white!important;
}

.font-400 {
  font-weight: 400;
}

.border-tab {
  border: 1px solid #d1d1d1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

ul.tabsList li.activeHeaderTab, li.activeHeaderTab div {
  background: none;
}

.msglist-header {
  border-bottom: 1px solid #d1d1d1;
  border-top: 1px solid #d1d1d1;
}

.tabBody {
  border-color: #d1d1d1;
}
