@font-face {
  font-family: icomoon;
  src: url(../assets/icomoon.eot?a9kide);
  src: url(../assets/icomoon.eot?a9kide#iefix) format('embedded-opentype'), url(../assets/icomoon.ttf?a9kide) format('truetype'), url(../assets/icomoon.woff?a9kide) format('woff'), url(../assets/icomoon.svg?a9kide#icomoon) format('svg');
  font-weight: 400;
  font-style: normal
}

[class*=" icon-"],
[class^=icon-] {
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.icon-padlock:before {
  content: "\e904"
}

.icon-folders:before {
  content: "\e910"
}

.icon-composition-group:before {
  content: "\e903"
}

.icon-gallery-off:before {
  content: "\e901"
}

.icon-add-gallery:before {
  content: "\e900"
}

.icon-show:before {
  content: "\e61a"
}

.icon-contact-add2:before {
  content: "\e619"
}

.icon-slider-dots:before {
  content: "\e680"
}

.icon-filters-contacts:before {
  content: "\e67e"
}

.icon-filters-unread:before {
  content: "\e67f"
}

.icon-avatars-off:before {
  content: "\e67c"
}

.icon-avatars-on:before {
  content: "\e67d"
}

.icon-new:before {
  content: "\e609"
}

.icon-action-forward:before {
  content: "\e67a"
}

.icon-action-move:before {
  content: "\e67b"
}

.icon-contact-edit:before {
  content: "\e654"
}

.icon-logout:before {
  content: "\e677"
}

.icon-notspam:before {
  content: "\e66e"
}

.icon-search:before {
  content: "\e615"
}

.icon-settings:before {
  content: "\e64b"
}

.icon-minimize:before {
  content: "\e611"
}

.icon-maximize:before {
  content: "\e613"
}

.icon-demaximize:before {
  content: "\e66d"
}

.icon-close:before {
  content: "\e614"
}

.icon-arrow-up:before {
  content: "\e623"
}

.icon-arrow-right:before {
  content: "\e624"
}

.icon-arrow-down:before {
  content: "\e625"
}

.icon-arrow-left:before {
  content: "\e626"
}

.icon-add:before {
  content: "\e634"
}

.icon-download:before {
  content: "\e64c"
}

.icon-contact-mail:before {
  content: "\e64e"
}

.icon-contact-import:before {
  content: "\e64f"
}

.icon-contact-google:before {
  content: "\e650"
}

.icon-contact-filter:before {
  content: "\e651"
}

.icon-contact-facebook:before {
  content: "\e652"
}

.icon-contact-export:before {
  content: "\e653"
}

.icon-contact-cloak:before {
  content: "\e655"
}

.icon-contact-add:before {
  content: "\e658"
}

.icon-editor-stamp:before {
  content: "\e639"
}

.icon-editor-image:before {
  content: "\e659"
}

.icon-contact-unblock:before {
  content: "\e662"
}

.icon-arrow-left-slim:before {
  content: "\e616"
}

.icon-mobile-add-attachment:before {
  content: "\e673"
}

.icon-mobile-send:before {
  content: "\e675"
}

.icon-file-archive:before {
  content: "\e664"
}

.icon-file-zip:before {
  content: "\e628"
}

.icon-file-html:before {
  content: "\e665"
}

.icon-file-web:before {
  content: "\e629"
}

.icon-file-video:before {
  content: "\e666"
}

.icon-file-vid:before {
  content: "\e62a"
}

.icon-file-txt:before {
  content: "\e62b"
}

.icon-file-ods:before {
  content: "\e66b"
}

.icon-file-xls:before {
  content: "\e667"
}

.icon-file-spr:before {
  content: "\e62c"
}

.icon-file-odt:before {
  content: "\e66c"
}

.icon-file-ppt:before {
  content: "\e668"
}

.icon-file-pre:before {
  content: "\e62d"
}

.icon-file-pdf:before {
  content: "\e62e"
}

.icon-file-odt2:before {
  content: "\e669"
}

.icon-file-oof:before {
  content: "\e62f"
}

.icon-file-audio:before {
  content: "\e66a"
}

.icon-file-mus:before {
  content: "\e630"
}

.icon-file-mso:before {
  content: "\e631"
}

.icon-file-image:before {
  content: "\e632"
}

.icon-file-doc:before {
  content: "\e633"
}

.icon-folder-big:before {
  content: "\e612"
}

.icon-subfolder:before {
  content: "\e636"
}

.icon-file-eml:before {
  content: "\e606"
}

.icon-file-undetected:before {
  content: "\e64a"
}

.icon-slideshow-big-right:before {
  content: "\e65f"
}

.icon-slideshow-big-left:before {
  content: "\e660"
}

.icon-contact-trash:before {
  content: "\e64d"
}

.icon-att-share:before {
  content: "\e902"
}

.icon-contacts:before {
  content: "\e617"
}

.icon-contact-group:before {
  content: "\e618"
}

.icon-editor-underline:before {
  content: "\e637"
}

.icon-editor-justify-right:before {
  content: "\e63a"
}

.icon-editor-justify-numbers:before {
  content: "\e63b"
}

.icon-editor-justify-list:before {
  content: "\e63c"
}

.icon-editor-justify-left:before {
  content: "\e63d"
}

.icon-editor-justify-center:before {
  content: "\e63e"
}

.icon-editor-justify:before {
  content: "\e63f"
}

.icon-editor-italic:before {
  content: "\e640"
}

.icon-editor-emote:before {
  content: "\e642"
}

.icon-editor-color:before {
  content: "\e643"
}

.icon-editor-caps:before {
  content: "\e644"
}

.icon-editor-bold:before {
  content: "\e645"
}

.icon-editor-attachment:before {
  content: "\e646"
}

.icon-trusted:before {
  content: "\e600"
}

.icon-trash:before {
  content: "\e601"
}

.icon-star_checked:before {
  content: "\e603"
}

.icon-star:before {
  content: "\e604"
}

.icon-reply:before {
  content: "\e605"
}

.icon-important:before {
  content: "\69"
}

.icon-attachment:before {
  content: "\e607"
}

.icon-arrow_down:before {
  content: "\e608"
}

.icon-shopping:before {
  content: "\e60b"
}

.icon-social:before {
  content: "\e60c"
}

.icon-sent:before {
  content: "\e60d"
}

.icon-drafts:before {
  content: "\e60e"
}

.icon-trash2:before {
  content: "\e60f"
}

.icon-spam:before {
  content: "\e610"
}

.icon-folder:before {
  content: "\e635"
}

.icon-warning:before {
  content: "\e627"
}

.icon-inbox:before {
  content: "\e60a"
}

.icon-contact-block:before {
  content: "\e656"
}

.icon-slideshow-rotate-right:before {
  content: "\e641"
}

.icon-slideshow-rotate-left:before {
  content: "\e65a"
}

.icon-slideshow-right:before {
  content: "\e65b"
}

.icon-slideshow-play:before {
  content: "\e65d"
}

.icon-slideshow-left:before {
  content: "\e65c"
}

.icon-slideshow-download:before {
  content: "\e65e"
}

/*
.composition-from:before,
.email-input-plain:before,
.mobile-search-from-container:before,
.mobile-search-to-container:before,
.search-date-from-container:before,
.search-date-to-container:before,
[class*=" icon-"],
[class^=icon-],
[contentEditable=true]:empty:before {
   font-family: Roboto, sans-serif
}
*/

.dialog-header-button,
:before,
[class*=" icon-"]:before {
  font-family: icomoon;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

[class*=" icon-file-"]:before,
[class^=icon-file-]:before {
  color: #E0E0E0;
  display: block;
  position: absolute;
  font-size: 120px;
  line-height: 145px;
  text-align: center;
  width: 100%
}

.icon-drafts:before,
.icon-folder-big:before,
.icon-folder:before,
.icon-inbox:before,
.icon-new:before,
.icon-sent:before,
.icon-shopping:before,
.icon-slideshow-download:before,
.icon-slideshow-play:before,
.icon-slideshow-rotate-left:before,
.icon-slideshow-rotate-right:before,
.icon-social:before,
.icon-subfolder:before,
.icon-trash2:before,
.icon-warning:before {
  font-size: 32px
}

.icon-slideshow-pause:before {
  content: "\e661";
  font-size: 29px
}

.icon-add:before,
.icon-arrow-down:before,
.icon-arrow-left:before,
.icon-arrow-right:before,
.icon-arrow-up:before,
.icon-close:before,
.icon-download:before,
.icon-maximize:before,
.icon-minimize:before {
  font-size: 16px
}

.icon-slideshow-big-left:before,
.icon-slideshow-big-right:before {
  font-size: 256px
}

.message-toolbar-details .icon-important {
  color: #FF4800
}

.icon-notspam,
.icon-spam,
.icon-star,
.icon-trash {
  color: #909090
}

.icon-star-checked {
  color: #FFCA00
}

.message-toolbar-users [class^=icon-].icon-trusted:before {
  color: #3FB902
}

.subject-icon-important:before {
  content: "\69";
  color: #FF4800
}

.subject-icon-attachment:before {
  content: "\e607";
  color: #757575
}

.subject-icon-important.subject-icon-attachment:before {
  content: "\69 \e607";
  color: #757575
}

.subject-icon-important.subject-icon-attachment {
  display: block
}

.subject-icon-important.subject-icon-attachment:first-letter {
  font-family: icomoon;
  color: #FF4800
}

.subject-icon-attachment:before,
.subject-icon-important:before {
  font-family: icomoon;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline;
  padding-right: 3px
}

.btn-icon {
  background: 0 0;
  border: none;
  border-radius: 2px;
  color: #9D9D9D;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  margin: 8px;
  outline: 0;
  padding: 0;
  width: 32px
}

.btn-icon:active {
  background-color: rgba(0, 0, 0, .05)
}

.isMobile .btn-icon {
  -webkit-tap-highlight-color: transparent
}

.isMobile .btn-icon.ng-click-active,
.isMobile .btn-icon:active {
  background: rgba(80, 80, 80, .2)
}

.slideshow-menu-item .btn-icon:before {
  line-height: 30px
}

.slideshow-menu-item .icon-slideshow-rotate-left:before,
.slideshow-menu-item .icon-slideshow-rotate-right:before {
  line-height: 34px
}

.slideshow-menu-item .icon-slideshow-rotate-left {
  text-indent: -1px
}

.icon-slideshow-download:before .btn-icon::-moz-focus-inner {
  padding: 0;
  border: 0
}

.btn-icon--back {
  margin: 8px 2px
}

.btn-icon--small-margin {
  margin: 4px
}

.btn-icon--auto-width {
  width: auto
}

.btn-icon--full {
  display: block;
  margin: 8px 0;
  text-align: center;
  width: 100%
}

.maximized .icon-maximize:before {
  content: "\e66d"
}

.navigation-list--main .navigation-button--new:before {
  line-height: 30px
}

.contact-actions-list-item {
  line-height: 32px
}

.search-suggestions-item {
  line-height: 42px
}

.label {
  line-height: 40px
}

.mobile-search-from-container:before,
.mobile-search-to-container:before,
.search-date-from-container:before,
.search-date-to-container:before {
  line-height: 22px
}

.msglist-action-bar .label--small {
  line-height: 16px
}

.message-attachments-item-caption {
  line-height: 9px
}

.msglist-attachments-item--button:before {
  font-size: 13px;
  line-height: 38px
}

.icon-file-cad:before {
  content: "\e632"
}

.contact-details-actions-item .icon-contact-trash:before {
  margin-left: -1px
}

.isMobile .message-safety-sender {
  margin-left: 19px
}

.isMobile .message-toolbar-users .icon-padlock {
  top: -3px;
  position: relative
}





body, #header, #navigation, #tabHeaderCont, .packs-container, .msglist-header {background-color: #fff;}

.mails-container {
  background-color: #F7F7F7;
}

.mTable tr:hover, #attgal-main>ul>li:hover, .attachments-images-list li:hover {
  background-color: #EBEBEB!important;
}

#sidebar, #mainContent-1, #sidebar {
  background-color: #191919!important;
}

#side-folders li a {color: #8C8C8C;}

.logo-interia-white {
  background-image: url(../assets/interia_white.svg),url(../assets/poczta_white.svg);
  background-position: 7px 11px,-54px 38px;
  background-repeat: no-repeat;
  background-size: 84px 23px,197px 13px;
  bottom: 0;
  height: 82px;
  left: 0;
  margin-top: 10px;
  width: 185px;
  position: absolute;
}

#side-folders ul li a {
  margin-left: 28px;
}

.folder-icon {
  background-image: none!important;
  display:none;
}

.icon-list-1, .icon-list-2, .icon-list-3, .icon-list-4, .icon-list-5, .icon-list-6, .icon-list-7, .icon-list-8,
.icon-list-9, .icon-list-10, .side-contacts, .toolbar {position: relative}

.icon-list-1:before {
  position: absolute;
  content: "\e60a";
  font-size: 20px;
  color: #8C8C8C;
}

.icon-list-2:before {
  content: "\e60b";
  position: absolute;
  font-size: 20px;
  height: 20px;
  color: #8C8C8C;
}

.icon-list-3:before {
  content: "\e60c";
  position: absolute;
  font-size: 20px;
  height: 20px;
  color: #8C8C8C;
}

.icon-list-4:before {
  content: "\e60d";
  position: absolute;
  font-size: 20px;
  height: 20px;
  color: #8C8C8C;
}

.icon-list-5:before {
  content: "\e60e";
  position: absolute;
  font-size: 20px;
  height: 20px;
  color: #8C8C8C;
}

.icon-list-6:before {
  content: "\e60f";
  position: absolute;
  font-size: 20px;
  height: 20px;
  color: #8C8C8C;
}

.icon-list-7:before {
  content: "\e610";
  position: absolute;
  font-size: 20px;
  height: 20px;
  color: #8C8C8C;
}

.icon-list-8:before {
  content: "\e607";
  position: absolute;
  font-size: 20px;
  height: 20px;
  left:6px;
  left: -27px;
  top: 1px;
  color: #8C8C8C;
}

.icon-list-9:before {
  content: "\e635";
  position: absolute;
  font-size: 20px;
  height: 20px;
  left:6px;
  left: -27px;
  top: 1px;
  color: #8C8C8C;
}

.icon-list-10:before {
  content: "\e635";
  position: absolute;
  font-size: 20px;
  height: 20px;
  left:6px;
}

.side-cnt-manage span {
  background-image: none;
}

.side-cnt-manage span:before {
  content: "\e67e";
  position: absolute;
  font-size: 27px;
  height: 27px;
  left:6px;
  color: #8C8C8C;
}

#compose_nav0:before {
  content: "\e609";
  position: absolute;
  font-size: 45px;
  height: 31px;
  left: 10px;
  color: #8C8C8C;
  top: -3px;
}

#compose_nav0:hover, #contacts_nav0:hover, #fetch_nav0:hover, #responseT_nav1:hover, #responseAllT_nav1:hover, #forwardT_nav1:hover, #removeBtn_nav1:hover, #printBtn_nav1:hover, #spamT_nav1:hover, #moveMsg_nav1:hover {
  background:#edf0f2;
}

#contacts_nav0:before{
  position: absolute;
  font-size: 53px;
  height: 27px;
  color: #8C8C8C;
  content: "\e67e";
  top: -8px;
  right: 10px;
}

.toolbar button.act {
    background-image: none;
}

#icon-sync {
  position: absolute;
  font-size: 53px;
  height: 27px;
  fill: #8C8C8C;
  top: 5px;
  right: 90px;
  width:21px;
}

#responseT_nav1, #responseAllT_nav1, #forwardT_nav1, #removeBtn_nav1, #printBtn_nav1, #spamT_nav1, #moveMsg_nav1,
.responseT.act, .responseAllT.act, .forwardT.last.act, .moveMsg.act, .removeBtn.act, .spamT.last.act, .printBtn.last.act,
#sendT, .sendT.act, .saveT.last.act, #cancelBtn, #cancelBtn_nav1 {
  background-image: none;
  position: relative;
}

#icon-reply, #icon-forward, #response-all-icon, #delete-icon, #print-icon, #icon-spam, #move-icon, #send-icon, #icon-save {
  position: absolute;
  height: 27px;
  fill: #8C8C8C;
  top: 5px;
  left:0;
}

#delete-icon {
  right: 0;
}
