body, #header, #navigation, #tabHeaderCont, .packs-container, .msglist-header {background-color: #fff;}

.mails-container {
  background-color: #F7F7F7;
}

.hektor-container--close  {

}

.msglist-flag span, .thread-subitem, .thread-switch {
    background-image: url(../assets/common.12.png);
}

.msg-status-re {
    background: url(../assets/common.12.png) -34px -28px no-repeat;
    height: 8px!important;
    margin-top: 10px;
}

.mTable tr:hover, #attgal-main>ul>li:hover, .attachments-images-list li:hover {
  background-color: #EBEBEB!important;
}

.active-tr {
  background-color: white!important;
}

.font-400 {
  font-weight: 400!important;
}

.border-tab {
  border: 1px solid #d1d1d1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

ul.tabsList li.activeHeaderTab, li.activeHeaderTab div {
  background: none;
}

li.activeHeaderTab {
  background-color: #f5f5f5!important;
}

.msglist-header {
  border-bottom: 1px solid #d1d1d1;
  border-top: 1px solid #d1d1d1;
}

.tabBody {
  border-color: #d1d1d1;
}

.tabHeader, .tabHeader div {
  background: none;
}

.mails-framecontainer .mail-frame {
  max-height: 75px;
  min-height: 75px;
}

.separator-border {
  margin: 0 0 0 .8ex;
  border-left: 1px #ccc solid;
  padding-left: 1ex;
  display: inline-block;
}
