body, #header, #navigation, #tabHeaderCont, .packs-container, .msglist-header {background-color: #fff;}

.mails-container {
  background-color: #F7F7F7;
}

.mTable tr:hover, #attgal-main>ul>li:hover, .attachments-images-list li:hover {
  background-color: #EBEBEB!important;
}

#sidebar, #mainContent-1, #sidebar {
  background-color: #191919!important;
}

#side-folders li a {color: #8C8C8C;}

.logo-interia-white {
  background-image: url(../assets/interia_white.svg),url(../assets/poczta_white.svg);
  background-position: 7px 11px,-54px 38px;
  background-repeat: no-repeat;
  background-size: 84px 23px,197px 13px;
  bottom: 0;
  height: 82px;
  left: 0;
  margin-top: 10px;
  width: 185px;
  position: absolute;
}
