body.hasFullToolbar
{
	padding-top: 25px;
}

#toolbar
{
	background: url(toolbarBg.120905.png) #4f4f4f;
	font-family: Arial;
	font-size: 11px;
	height: 25px;
	left: 0;
	position: absolute;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000000;
	display: block !important;
}

#toolbar.inplToolbarShort {
	background: transparent;
	border-top: 3px solid #4c4c4c;
	height: 0;
}

.toolbarUl
{
	background: url(toolbarBg.120905.png) #4f4f4f;
	display: block;
	height: 25px;
	list-style: none;
	margin: 0 auto;
	padding: 0 25px 0 15px;
	position: relative;
	width: 964px;
}

.inplToolbarShort .toolbarUl {
	width: auto;
	float: right;
	margin-right: 15px;
	margin-top: -2px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 0;
}

#toolbar a
{
	background: url(../assets/widgetSprite.120625.png) no-repeat;
	color: #ffffff;
	display: block;
	font-family: Arial;
	font-size: 11px;
	height: 25px;
	line-height: 25px;
	outline: none;
	padding: 0 0 0 18px;
	text-decoration: none;
	text-shadow: 1px 1px #343434;
}
#toolbar .widgetContent a
{
	background: none;
	display: inline;
	height: auto;
	line-height: normal;
	margin: 0;
	padding: 0;
	text-shadow: none;
}
#toolbar ul li
{
	background: url(../assets/widgetSprite.120625.png) 0 1px no-repeat;
	float: left;
	padding: 0 6px 0 0;
	position: relative;
}
#toolbar ul li.startPageLi
{
	background: none;
}
#toolbar ul li.startPageLi,#toolbar ul li.mobileLi
{
	float: left;
}
#toolbar ul li.mobileLi
{
	width: 110px;
	text-align: left;
}
#toolbar ul li.startPageLi a.sgHref
{
	background-position: 0 -26px;
        padding-right: 0;
        float: left;
}
#toolbar ul li.startPageLi a.startPageHref
{
	background: none;
        padding-left: 0;
        float: left;
}
#toolbar ul li.startPageLi span.sP {
        float: left;
	font-family: Arial;
	font-size: 11px;
	height: 25px;
	line-height: 25px;
	outline: none;
        color: #fff;
        padding: 0 2px;
	text-decoration: none;
	text-shadow: 1px 1px #343434;
}
#toolbar ul li.mobileLi a
{
	background-position: 6px -49px;
}
#toolbar ul li.userAccountLi
{
	background: url(toolbaCenterBg.png) no-repeat;
	float: right;
	padding: 0 6px 0 45px;
}

#toolbar.inplToolbarShort ul li.userAccountLi {
	padding-left: 0px;
}

#toolbar.inplToolbarShort ul li.userAccountLi {
	background: transparent;
}

#toolbar ul li.userAccountLi a.loginHref
{
	background: none;
}
#toolbar ul li.userAccountCreateLi,
#toolbar ul li.emailLi,
#toolbar ul li.dingLi,
#toolbar ul li.webmailSettingsLi
{
	background-position: 0 1px;
	float: right;
	padding: 0 0 0 7px;
	position: relative;
}
#toolbar ul li.userAccountCreateLi a,
#toolbar ul li.webmailSettingsLi a
{
	background: none;
	padding: 0 6px 0 2px;
}
#toolbar ul li.emailLi a.emailHref
{
	background-position: 0 -75px;
	padding: 0 6px 0 27px;
}
#toolbar ul li.dingLi .dingHref
{
	background: url(../assets/widgetSprite.120625.png) no-repeat;
	color: #ffffff;
	display: block;
	font-family: Arial;
	font-size: 11px;
	height: 25px;
	line-height: 25px;
	outline: none;
	padding: 0 0 0 18px;
	text-decoration: none;
	text-shadow: 1px 1px #343434;
	background-position: 0 -100px;
	padding: 0 6px 0 27px;
	cursor: pointer
}
#toolbar ul li.emailLi,
#toolbar ul li.emailLi .widgetOn,
#toolbar ul li.emailLi .widgetOn .widgetIconContainer
{
	width: 66px;
}
#toolbar ul li.emailLi .widgetOn .widgetIconContainer,
#toolbar ul li.dingLi .widgetOn .widgetIconContainer
{
	background: url(toolbarBg.120905.png) #4f4f4f;
}
#toolbar ul li.emailLi .widgetOn a.emailHref
{
	background: url(widgetVisibleSprite.png) no-repeat 0 -25px;
	padding: 0 6px 0 33px;
}
#toolbar ul li.dingLi,
#toolbar ul li.dingLi .widgetOn,
#toolbar ul li.dingLi .widgetOn .widgetIconContainer
{
	width: 54px;
}
#toolbar ul li .widgetOn
{
	left: 1px;
	position: absolute;
	top: 0;
}
#toolbar ul li.dingLi .widgetOn .dingHref
{
	background: url(dingButtonBg.111115.png) no-repeat;
	background-position: -389px -5px;
	padding: 0 6px 0 33px;
	position: relative;
	z-index: 1000;
}
#toolbar .widgetOn .widgetContent .widgetHeadline h1
{
	color: #3C5D9B;
	display: block;
	float: left;
	font-size: 18px;
	font-weight: normal;
	margin: 0 0 0 19px;
	padding: 0;
	text-transform: uppercase;
}
#toolbar .dingLi .widgetOn .widgetContent .widgetHeadline h1
{
	left: 25px;
	margin: 0;
	position: absolute;
	top: 21px;
}
#toolbar .widgetContent .widgetClose
{
	background: url(../assets/widgetSprite.120625.png) 45px -150px no-repeat;
	border: none;
	color: #979797;
	cursor: pointer;
	float: right;
	font-size: 11px;
	height: auto;
	line-height: 14px;
	outline: medium none;
	padding: 2px 29px 4px 0;
	position: absolute;
	right: 18px;
	top: 20px;
}
#toolbar .emailLi .widgetOn .widgetContent .widgetIframe
{
	background: url(mailBottomBg.png) left bottom no-repeat;
	padding: 28px 23px 8px;
}
#toolbar .emailLi .widgetOn .widgetContent
{
	background: url(mailTopBg.png) 0 -23px no-repeat;
	padding: 20px 0 0;
	position: absolute;
	right: -33px;
	text-align: left;
	top: 18px;
	width: 624px;
	z-index: 100;
}
#toolbar .dingLi .widgetOn .widgetContent .widgetIframe
{
	background: url(dingBottomBg.130716.png) left bottom no-repeat;
	padding: 0 17px 10px 18px;
}
#toolbar .dingLi .widgetOn .widgetContent .widgetIframe iframe
{
	display: block;
}
#toolbar .dingLi .widgetOn .widgetContent
{
	background: url(dingTopBg.130716.png) 0 -23px no-repeat;
	padding: 20px 0 0;
	position: absolute;
	right: -15px;
	text-align: left;
	top: 18px;
	width: 775px;
	z-index: 100;
}
#toolbar .startPage
{
	display: none;
	position: relative;
}
#toolbar .startPage .browserFF
{
	background: url(browserBottomBg.png) bottom center no-repeat;
	color: #575757;
	padding: 0 0 15px 0;
	text-shadow: none;
}
#toolbar .startPage .widgetContent .browserFF .instruction
{
	background-image: none;
	border-bottom: 1px dotted #C6C6C6;
	border-top: 1px dotted #C6C6C6;
	height: 60px;
	margin: 5px 0 7px 25px;
	padding: 20px 0 20px 0;
	width: 552px;
}
#toolbar .startPage .widgetContent .browserFF .setSite
{
	background: none;
	color: #3C5D9B;
	display: block;
	font-size: 15px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 0 0 25px;
	padding: 0;
	text-shadow: none;
	text-transform: uppercase;
}
#toolbar .startPage .widgetContent .browserFF .instruction .int
{
	background-image: url(int.png);
	float: left;
	height: 60px;
	width: 60px;
}
#toolbar .startPage .widgetContent .browserFF .instruction div
{
	background: url(arrowBg.png) 15px 15px no-repeat;
	float: right;
	padding-left: 60px;
	width: 430px;
}
#toolbar .startPage .widgetContent .browserFF .instruction div p
{
	margin: 0;
	padding: 0;
}
#toolbar .startPage .widgetContent .browserFF .instruction div p.lastP
{
	margin: 15px 0 0 0;
}
#toolbar .startPage .widgetContent .browserFF .instruction2
{
	margin: 0 0 0 25px;
	padding: 0;
	width: 527px;
}
#toolbar .startPage .widgetContent .browserFF .instruction2 a,#toolbar .startPage .widgetContent .browserFF .instruction2 span
{
	display: inline;
	font-size: 12px;
	text-shadow: none;
}
#toolbar .startPage .widgetContent .browserFF .instruction2 a
{
	color: #0277C6;
}
#toolbar .startPage .widgetContent .browserFF .instruction2 a .raquo
{
	color: #FF4200;
}
#toolbar .startPage .widgetContent
{
	background: url(browserTopBg.png) top center no-repeat;
	left: -8px;
	padding: 19px 0 0;
	position: absolute;
	text-align: left;
	top: 19px;
	width: 600px;
	z-index: 100;
}
#toolbar ul li.userAccountLi span.uAmail
{
	color: #ffffff;
	cursor: pointer;
	float: left;
	font-weight: bold;
	line-height: 25px;
	margin: 0 22px 0 20px;
	text-shadow: 1px 1px #343434;
}

#toolbar.inplToolbarShort ul li.userAccountLi span.uAmail {
	margin-left: 7px;
    max-width: 20em;
    overflow: hidden;
    text-overflow: ellipsis;
}

#toolbar ul span.uAraquo
{
	background: url(../assets/../assets/widgetSprite.120625.png) 13px -124px;
	cursor: pointer;
	height: 25px;
	position: absolute;
	right: -5px;
	top: 0;
	width: 33px;
	z-index: 10001;
}
#toolbar ul li .widgetContainer span.uAraquo
{
	background: url(../assets/accountButtonBg.png) -127px -4px no-repeat;
	cursor: pointer;
	height: 26px;
	position: absolute;
	right: -5px;
	top: 0;
	width: 33px;
	z-index: 10001;
}
#toolbar .widgetContainer .userAction
{
	background: url(../assets/accountBottomBg.02.png) bottom center no-repeat;
	padding: 0 0 23px 0;
	overflow: auto;
}
#toolbar .widgetContainer .userAction ul
{
	background: none;
	color: #4F4F4F;
	height: auto;
	margin: 0 auto;
	padding: 0;
	width: 225px;
}
#toolbar .widgetContainer .userAction ul
{
	display: block;
	width: 127px;
}
#toolbar .widgetContainer .userAction ul li
{
	background: none;
	float: none;
	line-height: 15px;
	list-style: none;
    padding: 2px 0;
}

#toolbar .widgetContainer .userAction ul li.dotted
{
	border-bottom: 1px dotted #BBBBBB;
    margin-bottom: 2px;
    padding: 2px 0 4px;
}
#toolbar .widgetContainer .userAction ul li a,#toolbar .widgetContainer .userAction ul li a span
{
	background: none;
	display: inline;
	float: none;
	font-weight: normal;
	line-height: 15px;
	margin: 0;
	padding: 0;
	text-shadow: none;
}

#toolbar .widgetContainer .userAction ul li .menu-bold {
    font-weight: bold;
}

#toolbar .widgetContainer .userAction ul li a
{
	color: #077BCA;
}
#toolbar .widgetContainer .userAction ul li a span.userRaquo
{
	color: #FF4200;
}
#toolbar .widgetContainer .userAction .emailLi2
{
	font-size: 12px;
	font-weight: bold;
	padding: 2px 0 5px 0 !important;
}
#toolbar ul li .widgetContainer
{
	position: static;
}
#toolbar .widgetContainer .widgetContent
{
	background: url(../assets/accountTopBg.png) 0 -22px no-repeat;
	padding: 20px 0 0;
	position: absolute;
	right: -25px;
	text-align: left;
	top: 18px;
	width: 179px;
	z-index: 10000;
}
#toolbar ul li.emailLi, #toolbar ul li.emailLi .widgetOn,#toolbar ul li.emailLi .widgetOn .widgetIconContainer
{
	width: 66px;
}
#toolbar ul li.emailLi .widgetOn .widgetIconContainer
{
	background: url(toolbarBg.120905.png) #4f4f4f;
}
#toolbar ul li.emailLi .widgetOn a.emailHref
{
	background: url(mailButtonBg.png) no-repeat -523px -5px;
	height: 25px;
	padding: 0 6px 0 33px;
	position: relative;
	z-index: 1000;
}
.widgetIconContainer .count
{
	background: url(../assets/widgetSprite.120625.png) 0 -175px no-repeat;
	color: #ffffff;
	font-family: Arial;
	font-weight: bold;
	height: 23px;
	left: 24px;
	line-height: 20px;
	padding: 0 4px 0 9px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 21px;
}
.widgetIconContainer .incentive
{
	background: url(../assets/widgetSprite.120625.png) 4px -234px no-repeat;
	width: 21px;
	height: 23px;
	display: block;
}
.widgetIconContainer .count.distinct
{
	background: url(../assets/widgetSprite.120625.png) 0 -203px no-repeat;
}
* html #toolbar
{
	left: 0;
	position: absolute;
	top: 0;
}
* html #toolbar ul
{
	margin: 0;
}
* html #toolbar ul li.mobileLi
{
	width: 110px;
}
* html #toolbar ul li.userAccountLi
{
	width: 125px;
	text-align: right;
}
* html #toolbar ul li.userAccountCreateLi
{
	width: 107px;
}
* html #toolbar ul li.startPageLi
{
	background: none;
	width: 189px;
}
* html .widgetIconContainer .count
{
	width: 33px;
}
* html #toolbar ul li.dingLi .widgetOn .dingHref
{
	background-position: -386px -5px;
}

#wgt_webmail .widgetMock {
    width: 624px;
    height: 310px;
    background: url("widgetMock-bg.091111.png") 0 100% no-repeat;
}
* html #wgt_webmail .widgetMock {
    background: url("widgetMock-bg.ie6.120117.png") 0 100% no-repeat;
}


#wgt_webmail .widgetMock h1 {
    background: url(widgetMock.081111.png) -4px -387px no-repeat;
    height: 37px;
    top: 42px;
    left: 52px;
    position: absolute;
    width: 441px;
    text-indent: -9999px;
}
* html #wgt_webmail .widgetMock h1 {
    background: url(widgetMock.ie6d.081111.png) -4px 0px no-repeat;
}


#wgt_webmail .widgetMock .learn-more {
    background: url(widgetMock.081111.png) -4px -441px no-repeat;
    left: 52px;
    height: 160px;
    position: absolute;
    top: 115px;
    width: 345px;
}
* html #wgt_webmail .widgetMock .learn-more {
    background: url(widgetMock.ie6d.081111.png) -4px -55px no-repeat;
}

#wgt_webmail .widgetMock .learn-more a {
    background: url(widgetMock.081111.png) -4px -601px no-repeat;
    left: 0;
    height: 19px;
    position: absolute;
    top: 164px;
    width: 140px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-indent: -9999px;
    padding: 0;
}
* html #wgt_webmail .widgetMock .learn-more a {
    background: url(widgetMock.ie6d.081111.png) -4px -217px no-repeat;
}


#wgt_webmail .widgetMock .activate-account {
    position: absolute;
    bottom: -18px;
    right: -23px;
    width: 245px;
    height: 290px;
    background: url(widgetMock.081111.png) 0 0 no-repeat;
}
* html #wgt_webmail .widgetMock .activate-account {
    background: url(widgetMock.ie6.081111.png) 0 0 no-repeat;
}


#wgt_webmail .widgetMock .activate-account a {
    background: url(widgetMock.081111.png) -5px -310px no-repeat;
    bottom: 127px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: 52px;
    position: absolute;
    right: 75px;
    text-indent: -9999px;
    width: 159px;
}
* html #wgt_webmail .widgetMock .activate-account a {
    background: url(widgetMock.ie6.081111.png) -5px -310px no-repeat;
}


#wgt_webmail .widgetMock .activate-account a:hover {
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.hasInjectedIcon a {
	padding-right: 28px !important;
}

#toolbar .widgetContainer ,
#toolbar .startPage {display: none;}
#toolbar .visible .widgetContainer,
#toolbar .visible  .startPage  {display: block;}
