#attPublicGalleryBlockBackground {
  background-color: rgba(218, 236, 250, 0.8)
}

#header .header-link-featured {
  color: #ad1900;
  font-weight: bold
}

.toolbar button {
  min-width: 40px;
  padding: 35px 0 0 0;
  border: 0;
  margin: 0;
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 11px;
  width: auto;
  overflow: visible;
  white-space: nowrap
}

#nav1 button,
.bottomIcons button {
  font-weight: bold
}

.overlay td button {
  width: 110px;
  margin: 3px 35px;
  text-transform: lowercase;
  font-size: 10.5px
}

.overlayButtons button {
  margin: 5px!important;
  padding: 35px 0 0;
  font-size: 10.5px;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  text-transform: none!important;
  cursor: pointer
}

.wideButtons .overlayButtons button {
  min-width: 120px!important
}

#tabBodyCont {
  margin-top: -1px
}

.tabBody {
  border-color: #a3c9e5;
  background: #c4e8ff
}

.searchResults {
  border-color: #c1e5be!important
}

.threadList {
  border-color: #4b99c8!important
}

.popupMenu,
div.floatedColumnHeader div.popupMenu {
  background: #daecfa;
  border: 1px solid #2382d3!important;
  box-shadow: 2px 2px 4px #787878;
  color: #005689
}

.popupMenu li {
  color: #9ca1a7
}

.popupMenu a,
.popupMenu li a {
  color: #059
}

.popupMenu a:hover {
  color: #000!important;
  cursor: pointer
}

.packs-details {
  color: #000!important
}

.noContacts:hover {
  background: #FFF
}

#cnt-table a {
  color: #059
}

.dummy_contact {
  background: url(../a/dummy_contact.png) no-repeat 0 0
}

#cnt-list .oneRow {
  border-top: 1px solid #a3c9e5;
  background: #c4e8ff
}

#cnt-list .oneRow:hover {
  background: #e5edf4
}

#cnt-list .oneRow td {
  color: #005689
}

.adrMail {
  margin-left: 5px;
  color: #fff!important
}

.side-ctx-menu-plug,
.side-ctx-menu {
  border-color: #959da4!important;
  background-color: #636c75!important
}

.side-ctx-menu ul li {
  color: #959da4!important
}

.side-ctx-menu li a,
.ctxFld li a:hover,
.side-ctx-menu ul li.ctxMLiEnabled {
  color: #c6e9ff!important
}

.side-ctx-menu li a:hover {
  color: #fff!important
}

#side-ad {
  color: #abddfd
}

body {
  background-color: #ecf0f3;
  color: #000
}

#content {
  background: #daecfa
}

#navigation {
  min-height: 66px
}

.nobr #navigation {
  background: transparent url(../a/main_tr.png) no-repeat scroll top right
}

.nobr #navigation ul {
  background: transparent url(../a/main_tl.png) no-repeat scroll top left
}

.toolbar button {
  background-color: transparent;
  background-repeat: no-repeat;
  color: #a5d3f5
}

.toolbar button:hover {
  color: #a5d3f5
}

.toolbar .act {
  color: #059;
  cursor: pointer
}

.toolbar .act:hover {
  color: #18507f!important
}

.toolbar .act:hover span {
  text-decoration: underline!important
}

.toolbar span.separator {
  background: #a5d3f5
}

.toolbar button,
.overlayButtons button.save-button-disabled {
  background-color: transparent;
  background-image: url(../assets/buttons_off.01.png);
  background-repeat: no-repeat
}

.overlayButtons button,
.toolbar button.act {
  background-image: url(../assets/buttons.01.png);
}

* html .toolbar button,
* html .overlayButtons button.save-button-disabled {
  background-image: url(../assets/buttons_off.01.gif)
}

* html .overlayButtons button,
* html .toolbar button.act {
  background-image: url(../assets/buttons.01.gif)
}

#bottomLeft {
  background: #636c75
}

#bottomRight {
  background: #daecfa
}

#mainContent-1,
#sidebar {
  background: #636c75
}

#mainContent,
#rightContent {
  background: #daecfa
}

#side-folders li {
  color: #abddfd
}

#side-folders li a {
  color: #abddfd
}

#side-folders .sysfld .cleanDir {
  background-image: none!important
}

#side-folders li a:focus {
  color: #eee
}

#sidebar button.sideBtn {
  color: #c0e6ff
}

#side-folders li a.selected,
#side-folders li a:hover,
#side-folders li a.js-hover {
  color: #fff!important
}

#side-folders ul li a {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: bottom left
}

.folder-tree-branch {
  background-image: url(../assets/ic.10.png)
}

#side-search {
  background: url(../a/ic.09.png) no-repeat 174px -75px
}

#side-search div {
  background: url(../a/ic.09.png) no-repeat -9px -75px
}

#ful_my li a.selected {
  color: #fff
}

#ful_my li a.over {
  color: #fff
}

div.tabsHeader {
  height: 26px
}

.tabHeader {
  color: #636c75;
  background: #fdfdfd url(../assets/tabs.png) no-repeat scroll left -26px
}

.tabHeader div {
  background: transparent url(../assets/tabs.png) no-repeat scroll right -78px
}

.tabHeader button {
  color: #808283;
  background-image: url(../assets/ic.10.png)
}

.tabHeader .cr {
  color: #b9bcc0
}

ul.tabsList li.searchResults.activeHeaderTab {
  background: #d9f5d6
}

ul.tabsList li.threadList.activeHeaderTab {
  background: #b9d7e9
}

ul.tabsList li.activeHeaderTab {
  background: #c4e8ff url(../assets/tabs.png) no-repeat scroll top left;
  height: 26px
}

li.activeHeaderTab div {
  color: #000;
  background: transparent url(../assets/tabs.png) no-repeat scroll right -52px
}

li.activeHeaderTab div span.cr {
  color: #b9bcc0
}

.activeHeaderTab div button {
  color: #586869
}

.scLeft,
.scRight {
  background: #daecfa
}

.scLeft a,
.scRight a {
  background: #f0f3f5 url(../assets/tabs.png) no-repeat scroll left -104px
}

.scLeft b,
.scRight b {
  background-image: url(../assets/tabs.png)
}

li.searchResults,
li.searchResults div,
li.searchResults,
li.searchResults div {
  background-image: url(../a/searchtabs.png)!important
}

li.threadList,
li.threadList div,
li.threadList,
li.threadList div {
  background-image: url(../a/threadtabs.png)!important
}

.mails-framecontainer iframe {
  background: transparent;
  border: 0
}

.bottomIcons {
  background: #daecfa;
  border: 1px solid #abd0ec;
  border-top: 0
}

.bottomIcons span {
  border-top: 0
}

.packs-container {
  background: #c4e8ff;
  border: 1px solid #abd0ec;
  border-left: 0;
  border-right: 0
}

.searchResults .packs-container {
  background: #d9f5d6;
  border-color: #c1e5be
}

.threadList .packs-container {
  background: #b9d7e9;
  border-color: #c1e5be
}

.packs-list li,
.packs-list a {
  color: #059
}

.packs-list a:hover {
  color: #000
}

.pack-selected a {
  color: #414951
}

.slideCr {
  background: #d8ebfa
}

.msglist-header {
  color: #005689;
  border-bottom: 1px solid #a3c9e5;
  border-left: 0;
  border-right: 0
}

.searchResults .msglist-header {
  background: #d9f5d6;
  border-color: #c1e5be
}

.searchResults .msglist-header span {
  background: #d9f5d6
}

.threadList .msglist-header {
  background: #b9d7e9;
  border-color: #4b99c8
}

.threadList .msglist-header span {
  background: #b9d7e9
}

.mails-container,
.packs-container,
#iFrameContainer {
  border-left: 0;
  border-right: 0
}

#dnd {
  background: #636c75;
  color: #90c0da;
  border: 1px solid #90c0da
}

.composition-fields label {
  color: #414951
}

.composition-fields textarea {
  border: 1px solid #2382d3;
  background: #fff;
  color: #000
}

.composition-fields select {
  padding: 2px;
  border: 1px solid #2382d3;
  background: #fff;
  color: #000
}

.composition-fields .focus {
  border: 2px solid #2382d3;
  padding: 1px
}

.composition a {
  color: #059
}

.composition-body iframe {
  background: #fff
}

.att-deleted .attName {
  color: #62747f
}

.att-deleted .attMeta {
  color: #9ab0be
}

#tabBodyCont div.viewEm {
  color: #414959;
  background: #fff
}

.extHead {
  background-color: #c4e8ff!important
}

.extHead ul {
  background: #c4e8ff
}

.print-preview {
  border-top: 1px solid #a3c9e5
}

input#msg-search-submit {
  background-image: url(../assets/ic.10.png);
  text-indent: -300px;
  font-size: 1px;
  line-height: 300px;
  overflow: hidden
}

.virtual-folder-icon,
#cnt-header a i,
.msglist-header .selected i,
.filter-chooser b,
.att-purge span,
.overlay h2 span,
#side-contacts ul li a,
.slideCr div,
.msg-cnt-action span,
.folder-action-icon,
.side-cnt-manage span,
.addCnt2Msg span,
.folder-icon,
.attIcon,
.dirArrD,
.dirArrU,
.attach-iframe-box span {
  background-image: url(../assets/ic.10.png)
}

.att-purge span,
.msg-cnt-action span {
  background-color: #c4e8ff
}

#footer span,
#footer p {
  color: #6c757e
}

#footer a,
#footer a:visited,
#footer a:hover {
  color: #059
}

.attDelLink {
  color: #005689
}

.attach.uploading {
  background: url(../a/progres.gif) no-repeat
}

#contacts-items-head a,
#contacts-grp-head a {
  color: #005689
}

.cnt-details-lead img,
.dummy_contact,
.avatar-image-div img {
  border: 1px solid #a3c9e5
}

.mails-framecontainer {
  border-top: 1px solid #9ac6e1
}

.searchResults .mails-framecontainer {
  border-top-color: #c1e5be
}

.threadList .mails-framecontainer {
  border-top-color: #b9d7e9
}

#tabBodyCont .emHead {
  background: #c4e8ff
}

#tabBodyCont #tB_1 .emHead {
  background: #a7dbfc
}

#tabBodyCont .extHead {
  border-top: 1px solid #9ac6e1;
  border-bottom: 0
}

.composition .emHead {
  border-bottom: 0
}

div.emHead span.date,
div.emHeader div.emHead span.date {
  color: #6c757e!important
}

.extHead {
  border-top: 1px solid #9ac6e1
}

.thread-item td {
  border-color: #ececec
}

.thread-pulled-down td {
  border-color: #808080
}

.thread-item-last+tr td {
  border-top: 1px solid #808080!important
}

#overlay-background {
  background-color: #000
}

.active,
.attgal-selected,
ul#selContactList li.checked,
ul.selRecList li.checked,
ul.groupSelectList li.checked {
  background-color: #abddfd!important
}

#cnt-table .tableHeader th {
  border: 1px solid #a3c9e5;
  background: #c4e8ff!important
}

#cnt-list .cntData:hover,
#groupList li:hover {
  background: #dbf0fd!important
}

#cnt-table tr {
  background: #FFF
}

#cnt-table .emailColor {
  color: #005689
}

#cnt-table td {
  border-color: #a3c9e5;
  border-collapse: separate
}

#cnt-table td span {
  color: #059
}

#side-contacts {
  color: #abddfd
}

#side-contacts li:hover {
  color: #fff
}

#side-contacts a {
  color: #abddfd
}

#side-contacts li:hover a {
  color: #fff
}

#exportAdr table .firstCol {
  border-right: 1px solid #a3c9e5
}

#ful_my,
.side-cnt-list {
  border: 1px solid #959da4
}

.side-cnt-list .active {
  background: #636c75!important
}

.cnt-add-table td {
  color: #414951
}

.cnt-add-table a {
  color: #059
}

.showErrorCom {
  color: #f00!important
}

.cnt-add-table select,
.cnt-addgrp-table select {
  border: 1px solid #2382d3
}

.impexForm input.text,
.impexForm textarea,
ul.groupSelectList {
  border: 1px solid #2382d3
}

.contact-suggestions li a.current,
.contact-suggestions li a:hover {
  background: #abddfd;
  text-decoration: none;
  color: #000
}

.impexForm .showErrorCom {
  color: #c00
}

#cnt-initials a.act {
  background: #a6dbfd
}

.filter-chooser {
  border-left: 1px solid #a5cae6
}

.searchResults .filter-chooser {
  border-left-color: #c1e5be
}

.searchResults .filter-chooser {
  border-left-color: #4b99c8
}

.promoBlock {
  background: #daecfa
}

.mTable tr:hover,
#attgal-main>ul>li:hover,
.attachments-images-list li:hover {
  background-color: #dbf0fd!important
}

.mails-container {
  background: #fff
}

.overlay {
  border: 5px solid #c3e3f7;
  background: #e2f2fc;
  border-radius: 4px;
  text-align: left
}

.theme-anchor-span span,
.theme-anchor {
  background: #c3e3f7;
  border-color: #c3e3f7
}

#overlay-content {
  box-shadow: 0 0 5px #c3e3f7
}

.overlay h2 {
  border-bottom: 1px solid #005689;
  color: #496382
}

.overlay select,
ul.selRecList,
ul#selContactList,
.overlay-form-text-input {
  border: 1px solid #2382d3
}

.overlayButtons button {
  color: #2382d3
}

.overlayButtons button:hover {
  color: #1a486d
}

.overlay hr {
  color: #005689;
  background: #005689
}

.overlay .bottomLinks a {
  color: #059;
  text-decoration: none
}

.msgListSub a,
.emHead a {
  color: #059
}

#tdGroupList a {
  color: #2382d3!important
}

.linkOptMsg span {
  color: #000
}

.linkOptMsg,
.linkOptMsg .pipe {
  color: #aebbc5
}

.error-notice {
  background: #daecfa
}

.composition-fields button {
  border: 1px solid #afbbc4;
  background: #e9edef url(../a/btngrad.png) repeat-x;
  height: 21px
}

.addCnt2Msg {
  padding: 0!important
}

.l10n-en_US #header-links-main {
  background-image: url(../a/intlogo_i.png)
}

.l10n-de_DE #header-links-main {
  background-image: url(../a/intlogo_i.png)
}

#side-contacts li.side-no-contacts,
#side-contacts li.side-no-contacts:hover {
  color: #abddfd!important
}

.notice-content,
.notice-footer,
.nf-mid {
  background: #abddfd
}

.error .notice-footer,
.error .notice-footer .nf-mid,
.error .notice-content {
  background: #d66f4d
}

#Inpl_Progress .notice-content {
  background-image: url(../a/loader.gif);
  background-position: 10px 6px;
  background-repeat: no-repeat;
  height: 25px;
  line-height: 22px;
  padding-left: 30px
}

#cnt-header {
  border-left: 1px solid #a3c9e5;
  border-right: 1px solid #a3c9e5
}

#additionalNavLink {
  border-color: #a5d3f5;
  color: #059
}

#additionalNavLink a {
  color: #4d4d4d;
  text-decoration: none
}

#additionalNavLink a:hover {
  text-decoration: underline
}

.adNavLinkButton {
  border-color: #c9d5dc;
  background: #edf0f2 repeat-y;
  background-image: -moz-linear-gradient(top, #fefefe, #e4e8eb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#e4e8eb));
  background-image: -webkit-linear-gradient(top, #fefefe, #e4e8eb);
  background-image: -o-linear-gradient(top, #fefefe, #e4e8eb);
  background-image: -ms-linear-gradient(top, #fefefe, #e4e8eb);
  background-image: linear-gradient(to bottom, #fefefe, #e4e8eb);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#e4e8eb');
  color: #059!important
}

.adNavRaquo {
  color: #b33521
}

.legend-details-link span {
  background-image: url(../assets/ic.10.png)
}

.above18-agreement,
.overlay-form-close {
  color: #496382
}

.side-plusminus,
.so-folder .folder-icon,
.sh-folder .folder-icon,
.views-bar .msglist-notice-hide,
.views-bar .msglist-notice-show {
  background-image: url(../assets/ic.10.png)
}

.views-md-content .shopping-label .view-big-icon {
  background-image: url(../a/shopping_big_icon.png)
}

.views-md-content .social-label .view-big-icon {
  background-image: url(../a/social_big_icon.png)
}

.emHead>dl>dd .msglist-from-icon-padlock,
.msglist-from-icon-padlock {
  background-color: transparent
}
